/*プロフィール画面*/

h1 {
	text-align: center;
	clear: both;
}

#login {
	float: right;
}

#domannaka {
	position: relative;
	text-align: center;
}


.btn btn--green btn--cubic{
    background-color: #FFCC77
}

#prof{
	width: 200px;
	margin: 0 auto;
	
}
table {
	display: inline-block;
	border-collapse: separate;
	table-layout: fixed;
	width: 80%;
    border-spacing: 0px 8px;
}

table tr *:nth-child(1) {
	color: white;
	white-space: nowrap;
	background: #FFCC77;
	width: auto;
    
}

table tr *:nth-child(2) {
	
	white-space: nowrap;
	background: #fff;
	width: auto;
}

table th,
table td {
	color: black;
	text-align: center;
	padding: 0.25em 0.5em;
}

a.room {
	display: block;
	margin: 0.2em;
	text-decoration: none;
	text-align: left;
	padding: 0.25em 0.5em;
	color: #494949;
	background: #fff;
	border-left: solid 5px #FFCC77;
	/*	border-bottom: solid 2px #7db4e6;*/
}

#joined_discus {
	display: inline-block;
	text-align: left;
	padding: 0% 10% 0% 10%;
	white-space: nowrap;
}


